@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @mixin dark {
      --mantine-color-body: #121212;
      --mantine-color-text: #fff;
    }
  }
}

@layer components {
  .wrapper {
    @apply grid gap-x-8 md:grid-cols-[1fr_min(42.875rem,_calc(100%-64px))_1fr] md:[&>*]:col-start-2;
  }

  .full-bleed {
    @apply col-[1_/_4] w-full;
  }
}

.bulat {
  background: rgb(122, 122, 122);
  background: linear-gradient(
    90deg,
    rgba(122, 122, 122, 1) 0%,
    rgba(0, 0, 0, 1) 60%
  );
}

.bulat-2 {
  background: rgb(122, 122, 122);
  background: linear-gradient(
    0deg,
    rgba(122, 122, 122, 1) 0%,
    rgba(0, 0, 0, 1) 70%
  );
}
